.wrapper {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.highlights-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.highlight {
  flex: 1;
  min-width: 16rem;
}

.announcements {
  padding: 0;
  list-style: none;
  font-family: monospace;

  & li {
    margin-bottom: 1rem;
  }

  & span {
    font-weight: bold;
  }
}


@media (min-width: 38rem) {
  .highlight {
    flex: 0 calc(50% - 1rem);
  }
}