:root {
  --max-width: 62.5rem;
  --min-width: 21rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #edfff9;
  color: #0f2528;
  min-width: var(--min-width);
}

p {
  line-height: 1.2;
}

a {
  color: inherit;
}