:root {
  --max-width: 62.5rem;
  --min-width: 21rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #edfff9;
  color: #0f2528;
  min-width: var(--min-width);
}

p {
  line-height: 1.2;
}

a {
  color: inherit;
}

h1 {
  font-size: 3rem;
  margin: 2rem 0;
}

h2 {
  font-size: 1.3rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.wrapper {
  position: relative;
  padding: 0 1rem;
  margin: auto;
  max-width: var(--max-width);

  & h2 {
    margin-top: 0;
    width: 100%;
  }
}

@media (min-width: 35rem) {
  h1 {
    font-size: 4rem;
  }
}