.intro-section {
  display: flex;
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  min-height: calc(100svh - 3.2rem);
  align-content: center;
  margin: auto;
  padding: 3.5rem 1rem;
}

.intro-wrapper {
  width: 100%;
  max-width: var(--max-width);
  height: auto;
  margin: auto 0;
}

.header {
  padding-right: 2rem;
}

.intro {
  position: relative;
  z-index: 5;
  max-width: 100%;
  font-size: 1.2rem;
}

.intro-svg {
  pointer-events: none;
  position: absolute;
  top: 4rem;
  right: -35%;
  opacity: 0.6;
  min-width: 500px;
  width: 160vw;
  z-index: 0;
}

.circle,
.circle::before {
  position: absolute;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s;
  background-color: #c9e6dd;
}

.circle::before {
  animation: flash 2s infinite;
  position: absolute;
  background-color: #c9e6dd
}

.button {
  margin: 1rem 0;
}

.beta-text {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.requirements {
  background-color: #071213;
  color: #f9fffd;
  text-align: center;
  padding: 3.5rem 0;

  & ul,
  & li {
    margin: 0;
    padding: 0;
  }

  & li {
    list-style: none;
    padding: 2rem 2rem 0;
  }

  & li:last-of-type p {
    margin-bottom: 0;
  }
}

.emoji-icon {
  font-size: 4rem;
}

.code-of-conduct {
  text-align: center;
  padding: 3.5rem 0;

  & p {
    max-width: 50rem;
    margin: auto;
  }

  & p:last-of-type {
    margin-bottom: 0;
  }
}

.working-bg-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url('/img/ware-business-club-bg.jpg');
  background-size: cover;
  background-position: center;

  height: 25rem;
}


@media (min-width: 30rem) {

  .requirements {
    & ul {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem 0;
    }

    & li {
      max-width: 50%;
      padding: 2rem 2rem 0;
    }
  }
}

@media (min-width: 35rem) {

  .intro-section {
    padding: 3.5rem 2rem;
  }

  .intro-svg {
    top: 50%;
    right: -10%;
    width: 80%;
    margin-top: -35%;
  }

  .intro {
    width: 32rem;
  }

  .circle,
  .circle::before {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 40rem) {
  .requirements {
    & li {
      max-width: 33%;
    }
  }
}

@media (min-width: 62.5rem) {
  .intro-section {
    padding: 3.5rem 1rem;
  }

  .circle,
  .circle::before {
    width: 20px;
    height: 20px;
  }
}

@keyframes flash {
  50% {
    transform: scale(3);
    opacity: 0
  }

  100% {
    transform: scale(3);
    opacity: 0
  }
}