.button {
  cursor: pointer;
  display: inline-block;

  color: inherit;

  border: 0.2em solid var(--dark-color);
  padding: 1em 3em;
  background-color: transparent;
  border-radius: 10rem;

  transition: all 0.1s;

  text-decoration: none;

  &:hover {
    background-color: var(--dark-color);
    color: #edfff9;
  }
}

.invert {
  background-color: var(--dark-color);
  color: #edfff9;

  &:hover {
    background-color: #edfff9;
    color: var(--dark-color);
  }
}

.small {
  font-size: 1rem;
  padding: 0.5em;
}

.medium {
  font-size: 1.2rem;
}

& :disabled {
  background-color: lightgrey;
  color: grey;
  border-color: grey;
  cursor: not-allowed;

  &:hover {
    background-color: lightgrey;
    color: grey;
  }
}